body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: pink;
    font-size: 50px;
}
.half-width{
    width: 50%;
}
.blank{
    color: white;
}
.half-width img{
    height: 100%;
    width: 100%;
}
section{
    display:flex;
    margin-bottom: 150px;
    padding: 2px;
    margin: 5px;
}
.cointainer{
    display: flex;
}
.css{
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    border-radius: 5px;
}
.heder{
    background-image: url(images/header-bg.png);
}