body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: pink;
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin: 5px;
    padding: 2px;
}
.blank{
    color: white;
}
.half-width img{
    height: 100%;
    width: 100%;
}
section{
    display:flex;
    margin-bottom: 150px;
    padding: 2px;
    margin: 5px;
}
.cointainer{
    display: flex;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.css{
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    border-radius: 5px;
}
.heder{
    background-image: url(images/header-bg.png);
    background-repeat:no-repeat ;
}
.h{
    text-align: center;
    color: pink;
    font-size: 50px;
}
.boost{
    text-align: center;
    font-size: 30px;
}
.m{
    text-align: center;
}
.java{
    text-align: center;
}
.html{
    text-align: center;
    background-image: url(images/footer-bg.png);
}
.mama{
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(green, red);
    font-weight: 700;
    color: white;
    border-radius: 10px;
}
.last{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}